body {
    background-color: cadetblue;
}

.content {
    min-height: 230px;
    min-width: 150px;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    margin-top: 120px;
}

.title {
    padding-top: 60px;
    font-size: 40px;
}

.inputs {
    margin-top: 20px;
    margin-left: 690px;
    padding-bottom: 20px;

}